<div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-left:1px;padding-bottom:300px;margin-top:50px;float:left;"><h2 class="left"><span class="left_h2">Works</span></h2>
    <p><font size=3><a href=/works >All Works</a></font></p>
    <p><font size=3><a href=/applets >Applets</a></font></p>
    <p><font size=3><a href=/github>Github Repos</a></font></p>
    <p><font size=3><a href=/ticalc >Ticalc </a></font></p>
    <p><font size=4><a href=/apps ><strong>Mobile Apps</strong></a></font></p>

    <div style="width:150px;padding-top:50px;margin:0px;">

      <font color=3399CC>
        <p>"Do not hire a man who
          does your work for money,
          but him who does it for love of it."</p>
        <p>—Henry David Thoreau </p>
      </font>
    </div>
  </div>
</div>
<body>
<div style=padding-top:20px;>
  <h4>
    <p><font size=4><a href=/apps >Owl Blasters</a></font></p>
    <p><font color=#add8e6 size=3>A Mobile App to be released on the app store. Fight your way through
    swarms of owls as they have become sentient</font></p>
  </h4>
  <p>
    &nbsp;
  </p>
  <p>
    &nbsp;
  </p>
  <p>
    &nbsp;
  </p>
  <p>
    &nbsp;
  </p>
  <p>
    &nbsp;
  </p>
</div>
</body>
<SPAN style="position:relative;left: 300px;top:-150px;">
<div id="fish" style="clear:both;;width:280px;height:70px;"></div>
</SPAN>
<SPAN style="position:relative;left: 200px;top:-150px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>