<link rel="stylesheet" type="text/css" href="css/fade.css"/>
<div class="contained">
	<div class="group" style="padding-top: 150px">
		<center>
			
				<p>
					<font color="#1976D2" size="50px">
					UNDER RECONSTRUCTION
					</font>
				</p>
				<p>
					<font color="#1976D2" size="50px">
					PLEASE CHECK BACK LATER
					</font>
				</p> 
		</center>

	</div>
</div>
