<link rel="stylesheet" type="text/css" href="css/fade.css"/>
<div class="contained">
	<div class="group" style="padding-top: 150px">
		<center>
			<font size="50px">
				<p>
					UNDER RECONSTRUCTION
				</p>
				<p>
					PLEASE CHECK BACK LATER
				</p> </font>
		</center>

	</div>
</div>
