<!-- <div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-left:1px;margin-top:100px;float:left;"><h2 class="left"><span class="left_h2"></span></h2>
    <font color=3399CC>
      <p>"You look at where you're going and where you are and it
        never makes sense, but then you look back at where
        you've been and a pattern seems to emerge. And if you
        project forward from that pattern, then sometimes you can
        come up with something."</p>
      <p>—Robert Pirsig, Zen and the Art of Motorcycle Maintenance</p>
    </font>

  </div>
</div> -->
<!--
<div style="padding-top:200px;">
	<p>
		<font size=20>Down for Maintenance</font>
	</p>
</div>
-->
<form action='/contact' class='small-inset rounded-small' id='contact' method='post'>
  <font color=#e0ffff size=3>
    <section id="add">
      <SPAN style="position:relative;left: 110px;top:30px;">
      <p>
        <font size=7 color=541ger>
          Contact
        </font>
      </p>
        </SPAN>
    <SPAN style="position:relative;left: 13px;top:50px;">
  <p>
    Name
    <input name='name' type='text' />
  </p>
  </SPAN>
      <SPAN style="position:relative;left: 18px;top:50px;">
  <p>
    Email
    <input name='email' type='text' />
  </p>
                                                           </SPAN>
      <SPAN style="position:relative;left: 0px;top:50px;">
  <p>
    Subject
    <input name='subject' type='text' />
  </p>
                                                           </SPAN>
      <SPAN style="position:relative;left: 18px;top:50px;">
  <p>
    <strong>Body</strong>
    <textarea name="body" placeholder="Message&hellip;"></textarea>
  </p>
                                                           </SPAN>
      <SPAN style="position:relative;left: 140px;top:50px;">
  <p>
    <input type="submit" value="Contact Me">
  </p>
    </SPAN>
    </section>
  </font>
</form>


