<link rel="stylesheet" type="text/css" href="css/fade.css"/>

<center>

	<div style="padding-top: 100px">
		<p>
			<font size="20px" color="#1976D2" > <%= @error_message %> </font>
		</p>
	</div>

	<section id="add">
		<form action="/error" method='get'>
			<div class="return_btn">
				<button class="btn2" type="submit">
					Return
				</button>
			</div>
		</form>
	</section>
</center>
