<center>
  <font color=#e0ffff size=3>
    <p>
      Something went wrong.
    </p>
    <p>
      Click to Return
    </p>
  </font>

  <section id="add">
    <form action='/thanks'  method='post'>
      <input type="submit" value="Return">
    </form>
  </section>
</center>
<SPAN style="position:relative;left: 200px;top:40px;">
<div id="fish" style="clear:both;;width:280px;height:70px;"></div>
</SPAN>
<SPAN style="position:relative;left: 0px;top:100px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>