<link rel="stylesheet" type="text/css" href="css/fade.css"/>

<center>

	<div style="padding-top: 100px">
		<div style="font-size:40px; color:#1976D2;padding-bottom: 25px;" >
			<%= @error_message %> </font>

		</div>

		<section id="add">
			<form action="/error" method='get'>
				<div class="return_btn">
					<button class="btn2" type="submit">
						Return
					</button>
				</div>
			</form>
		</section>
</center>