<div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-left:1px;padding-bottom:300px;margin-top:50px;float:left;"><h2 class="left"><span class="left_h2">Works</span></h2>
    <p><font size=3><a href=/works >All Works</a></font></p>
    <p><font size=3><a href=/applets >Applets</a></font></p>
    <p><font size=4><a href=/github><strong>Github Repos</strong></a></font></p>
    <p><font size=3><a href=/ticalc >Ticalc </a></font></p>
    <p><font size=3><a href=/apps >Mobile Apps</a></font></p>
    <div style="width:150px;padding-top:50px;margin:0px;">
      <font color=3399CC>
        <p>"Do not hire a man who
          does your work for money,
          but him who does it for love of it."</p>
        <p>—Henry David Thoreau </p>
      </font>
    </div>
  </div>
</div>
<body>
<div style=padding-top:20px;>
  <h4>
    <p><font size=4><a href=https://github.com/Alcas1/TicTacToe >TicTacToe github repo</a></font></p>
    <p><font color=#add8e6 size=3>The Tic Tac Toe AI on github</font></p>
    <p><font size=4><a href=https://github.com/Alcas1/RubyTicTacToe >Ruby TicTacToe github repo</a></font></p>
    <p><font color=#add8e6 size=3>Another Tic Tac Toe AI made to run in ruby with command line. It's been encapsulated and written with clean ruby practices</font></p>
    <p><font size=4><a href=https://github.com/Alcas1/rubyWiki >Wiki github repo</a></font></p>
    <p><font color=#add8e6 size=3>A personal wiki I made as a test with sinatra and ruby with html</font></p>
    <p><font size=4><a href=https://github.com/Alcas1/Mastermind >Mastermind github repo</a></font></p>
    <p><font color=#add8e6 size=3>A game of Mastermind that is playable on command prompt with ruby</font></p>
    <p><font size=4><a href=https://github.com/Alcas1/Gage >Gage github repo</a></font></p>
    <p><font color=#add8e6 size=3>A port to java of My calculator game on Github. Gage is an Role-Playing game
      where the main character fights his way through different stages and levels up and builds stats</font></p>
  </h4>

</div>
</body>
<SPAN style="position:relative;left: 300px;top:-150px;">
<div id="fish" style="clear:both;;width:280px;height:70px;"></div>
</SPAN>
<SPAN style="position:relative;left: 200px;top:-150px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>