<!-- <div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-bottom:200px;padding-left:1px;margin-top:200px;float:left;"><h2 class="left"><span class="left_h2"></span></h2>
    <font color=3399CC>
      <p>"Glory lies in the attempt to reach one's goal and not in reaching it."</p>
      <p>—Mahatma Gandhi</p>
    </font>
  </div>
</div> -->

<link rel="stylesheet" type="text/css" href="css/slide.css" />

<div class="middle" style="position:relative;width:100%;margin:0 -100%;padding-top:30px;">
  <center>
   <font color="#1976d2" size="20px">
  	<div class="p2">
    <p>
      — To <strong>Become</strong> a great software craftsman
    </p>
    </div>
    <div class="p2">
    <p>
      — To <strong>Find</strong> a craft and pursue it to its entirety
    </p>
    </div>
    <div class="p2">
    <p>
      — To <strong>Learn</strong> from all sources of knowledge
    </p>
    </div>
    <div class="p2">
    <p>
      — To <strong>Read</strong> atleast 30 pages a week
    </p>
    </div>
    <div class="p2">
    <p>
      — To <strong>Live</strong> out my goals and work at them every day
    </p>
    </div>
    <div class="p2">
    <p>
      — To <strong>Never</strong> give up hope of the craft
    </p>
    </div>
  </font>
  </center>
</div>

