<div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-left:1px;padding-bottom:200px;margin-top:200px;float:left;"><h2 class="left"><span class="left_h2"></span></h2>
    <font color=3399CC>
      <p>"We work to become, not to acquire."</p>
      <p>—Elbert Hubbard </p>
    </font>

  </div>
</div>
<div style=padding-top:50px>
  <font color=#e0ffff size=3>
    <p>
      Hello, if you don't know me already, I'm Jon Wu, and Hi!
    </p>
    <p>
      This is a page I developed on my own with ruby, and sinatra as the framework.
      I made this page during my apprenticeship at 8th light. Feel free to explore
      the site and the projects that I have pursued. If you want to get a hold of me,
      just send me an email through the contact me page leaving your name and email.
    </p>
    <p>
      I currently attend Kingswood-Oxford school and am a Senior.
      Some sports I engage in at KO are Tennis to Swimming. However I also enjoy playing
      basketball when I have the chance to as well.
    </p>
    <p>
     I enjoy coding during my free time, especially in Java. I have also coded in ruby and
     which is the language used on this website including html. I love automating things and
      thinking of different ways that things can be automated. Through this I build ideas for
      programs and utilities.
    </p>
    <p>
      I am a huge fan of dubstep and electronic music. I listen to it when I have
      the time. And as for those that have requested me to put up my playlist,
      just navigate to  music and you should be pleased.
    </p>
  </font>
</div>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8002581756217565";
/* Testing */
google_ad_slot = "7116427904";
google_ad_width = 125;
google_ad_height = 125;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<div id="fish" style="clear:both;;width:280px;height:70px;"></div>
</SPAN>
<SPAN style="position:relative;left: 175px;top:50px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>

