<!-- <div style="padding:0px;margin:-15px;">
<div id="leftcolumn" style="width:150px;padding-right:0px;padding-bottom:200px;margin-top:200px;float:right;"><h2 class="left"><span class="left_h2"></span></h2>
<font color=#42a5f5>
<p>"We work to become, not to acquire."</p>
<p>—Elbert Hubbard </p>
</font>

</div>
</div> -->
<link rel="stylesheet" type="text/css" href="css/pop.css" />
<link rel="stylesheet" type="text/css" href="css/slide.css" />

<div class="middle" >
	<div class="about_container">
		<div id="part_body_card_main" class="part_body_card_main">
			<!-- Add image here  -->
			<!-- <img class="part_img_logo" src="imgs/experience/Bentley_Systems_logo.png"/></img> -->
			<img class="part_img_logo" src="imgs/lehigh.png"></img>
			<div class="card_title_bg">
				<div class="card_title">
					<b>Currently...</b>
				</div>
			</div>
			<div class="part_text">
				I Attend Lehigh University and I'm in my Senior year. ACM club has been going alot better this year.
				We're getting alot more freshman involvement and alot more companies that will come to campus this semester.
				ICPC is going very well too and solid teams are being formed this year. Internship season is right now so I'm prepping 
				interviews and applications. Some classes I'm currently taking are Programming Languages and Operating Systems.
				
			</div>
			<div id="button_bar" class="button_bar">
				<a href="http://www.lutron.com">
				<button class="card_button waves-effect">
					Lutron
				</button></a>
			</div>
		</div>
		<div id="part_body_card_main" class="part_body_card_main">

			<div class="card_title_bg">
				<div class="card_title">
					<b>About Me</b>
				</div>
			</div>
			<div class="part_text">
				Hello! My name is Jon and I'm currently a Junior at Lehigh University pursuing
				a B.S in Computer Science and a minor in Japanese. Feel free to explore the site and check out what
				projects I'm working on/have completed. Currently I am the President of the
				Programming Club(ACM Club) and the Anime Eki Club at Lehigh and I love
				investing time in improving both.
			</div>
			<div id="button_bar" class="button_bar">
				<a href="/resume">
				<button class="card_button waves-effect">
					Resume
				</button></a>
				<a href="/experience">
				<button class="card_button waves-effect">
					Experience
				</button></a>
			</div>
		</div>
		<div id="part_body_card" class="part_body_card">
			<div class="card_title_bg">
				<div class="card_title">
					<a href="/projects"><b>About My Projects</b></a>
				</div>
			</div>
			<div class="part_text">
				This is a page I developed on my own completely from scratch with ruby, and sinatra as the framework.
				I recreated my site with material design philosophy and standards and made
				the site much more responsive than before.
			</div>
			<div id="button_bar" class="button_bar">
				<a href="/projects">
				<button class="card_button waves-effect">
					Projects
				</button></a>
				<a href="/skills">
				<button class="card_button waves-effect">
					Skills
				</button></a>

			</div>
		</div>

		<div id="part_body_card" class="part_body_card">
			<div class="card_title_big">
				Lehigh University
			</div>
			<div class="part_img_container">
				<img class="part_img_big" src="imgs/experience/Lehigh_University_Center.jpeg"/></img>
			</div>
			<div class="part_text">
				<strong>B.S in Computer Science</strong>
				<br />
				at Lehigh University
				<br />
				Currently a <strong>Junior</strong>
				<br />
				Class of 2017

			</div>
			<div id="button_bar" class="button_bar" style="position: relative;margin-top:40px;">
				<a href="http://www1.lehigh.edu/">
				<button class="card_button waves-effect">
					Lehigh
				</button></a>

			</div>
		</div>
		<div id="part_body_card" class="part_body_card">
			<div class="card_title_big">
				Kingswood Oxford
			</div>
			<div class="part_img_container">
				<img class="part_img_big" src="imgs/experience/KO.jpg"/></img>
			</div>
			<div class="part_text">
				<strong>HighSchool</strong>
				<br />
				Graduated
				<br />
				Class of 2013
			</div>
			<div id="button_bar" class="button_bar" style="position: relative;margin-top:40px;">
				<a href="http://www.kingswoodoxford.org/">
				<button class="card_button waves-effect">
					Kingswood
				</button></a>

			</div>
		</div>
	</div>
</div>

