<!-- <div style="padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:150px;padding-right:0px;padding-bottom:200px;margin-top:200px;float:right;"><h2 class="left"><span class="left_h2"></span></h2>
    <font color=#42a5f5>
      <p>"We work to become, not to acquire."</p>
      <p>—Elbert Hubbard </p>
    </font>

  </div>
</div> -->
<div class="middle" style="position:relative;width:100%;margin:0 auto;padding-left:0px;">
<div style=padding-top:20px>
<center>
	<div class="main_content">
  <font color=#1976d2>
    Me
    <div class="mat_cards">
    	<div class="p1">
    <p>
      <Strong>What:</Strong> This is a page I developed on my own with ruby, and sinatra as the framework.
      I made this page during my apprenticeship at 8th light. Feel free to explore
      the site and the projects that I have pursued. If you want to get a hold of me,
      just send me an email through the contact me page leaving your name and email.
    </p>
    </div>
    <div class="p1">
    <p>
    	
      I currently attend Lehigh University and am a Sophomore.
      I like watching anime and learning about programming for fun. I also play tennis
      with friends every so often. I am currently the President of the Programming Club(ACM club)
      and also the Anime Eki Club at Lehigh.
    </p>
    </div>
    <div class="p1">
    <p>
     I enjoy coding during my free time, especially in Java. I have also coded in ruby and
     which is the language used on this website including html. I love automating things and
      thinking of different ways that things can be automated. Through this I build ideas for
      programs and utilities.
    </p>
    </div>
    <div class="p1">
    <p>
      I am a huge fan of dubstep and electronic music. I listen to it when I have
      the time. And as for those that have requested me to put up my playlist,
      just navigate to music and you should find all the music that I enjoy.
    </p>
    </div>
    </div>
    </div>
  </font>
  </div>
  </center>
</div>
</div>

