<!-- <div style="padding:0px;margin:-15px;">
<div id="leftcolumn" style="width:150px;padding-right:0px;padding-bottom:200px;margin-top:200px;float:right;"><h2 class="left"><span class="left_h2"></span></h2>
<font color=#42a5f5>
<p>"We work to become, not to acquire."</p>
<p>—Elbert Hubbard </p>
</font>

</div>
</div> -->
<link rel="stylesheet" type="text/css" href="css/pop.css" />
<link rel="stylesheet" type="text/css" href="css/slide.css" />
<div class="middle" >
	<div style="padding-top:45px;">

		<!-- <div class="about_text" style="margin-left: 24%;font-size: 40px">
		<font color="#1976D2"> </font>
		</div>
		<div class="mat_cards" style="width:100%;position:relative;margin:0 -100%;" >
		<center>
		<font color="#000000;">
		<div style="padding-top: 0px;">
		<div class="p1">
		<p align="left">
		<b>About Me</b>
		<br />
		Hello! My name is Jon and I'm currently a Junior at Lehigh University pursuing
		a B.S in Computer Science. Feel free to explore the site and check out what
		projects I'm working on/have completed. Currently I am the President of the
		Programming Club(ACM Club) and the Anime Eki Club at Lehigh and I love
		investing time in improving both.
		</p>
		</div>
		</div>
		<div class="p1">
		<p align="left">
		<a href="/works"><b>About my Work</b></a>
		<br />
		This is a page I developed on my own with ruby, and sinatra as the framework.
		I recreated my site with material design philosophy and standards and made
		the site much more responsive than before.
		</p>
		</div>
		<div class="p1">
		<p align="left">
		<!-- I enjoy coding during my free time, especially in Java. I have also coded in ruby and
		which is the language used on this website including html. I love automating things and
		thinking of different ways that things can be automated. Through this I build ideas for
		<!-- programs and utilities. -->
		<!-- REDESIGN ALERT 3 COLUMNS
		</p>
		</div>  -->
		<!-- <div class="p1">
		<p align="left">
		I am a huge fan of dubstep and electronic music. I listen to it when I have
		the time. And as for those that have requested me to put up my playlist,
		just navigate to music and you should find all the music that I enjoy.
		</p>
		</div> </font>
		</center>
		</div> -->
		<div class="works_container">
			<div class="row_about">
				<div class="content_body_list" style="width: 100%;">
					<div class="content_body" >
						<div class="part_list">

							<section id="part4" class="part4">

								<div id="part_body_card" class="part_body_card">

									<b>About Me</b>
									<br />
									<div class="part_text">
										Hello! My name is Jon and I'm currently a Junior at Lehigh University pursuing
										a B.S in Computer Science. Feel free to explore the site and check out what
										projects I'm working on/have completed. Currently I am the President of the
										Programming Club(ACM Club) and the Anime Eki Club at Lehigh and I love
										investing time in improving both.
									</div>
									<div id="button_bar" class="button_bar">
										<a href="/resume"><button class="card_button">Resume</button></a>
										<a href="/construction"><button class="card_button">Timeline</button></a>
									</div>
								</div>
								<div id="part_body_card" class="part_body_card">

									<a href="/projects"><b>About My Projects</b></a>
									<br />
									<div class="part_text">
										This is a page I developed on my own with ruby, and sinatra as the framework.
										I recreated my site with material design philosophy and standards and made
										the site much more responsive than before.
									</div>
									<div id="button_bar" class="button_bar">
										<a href="/projects"><button class="card_button">Projects</button></a>
										<a href="/skills"><button class="card_button">Skills</button></a>

									</div>
								</div>

							</section>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


