<div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-left:1px;padding-bottom:0px;margin-top:20px;float:left;"><h2 class="left"><span class="left_h2">Mentors</span></h2>

    <p><font size=4><a href=/jeff ><strong>Jeff Perlis</strong></a></font></p>
    <p><font size=3><a href=/micah >Micah Martin</a></font></p>
    <p><font size=3><a href=/mike >Mike Ebert</a></font></p>
    <p><font size=3><a href=/ben >Ben Voss</a></font></p>
    <div style=padding-top:20px>
      <font color=3399CC size=3>
        <p>"He who knows not and knows not that he knows not, is a fool —- shun him!</p>
        <p>He who knows not and knows that he knows not, is unlearned -— teach him!</p>
        <p>He who knows and knows not that he knows, is asleep —- awaken him!</p>
        <p>He who knows and knows that he knows, is enlightened —- follow him!"</p>
        <p>—Isabel Lady Burton (1831-1896) in
          "The Life of Captain Sir Richard F. Burton"</p>
      </font>
    </div>
  </div>
</div>
<div style=padding-top:20px>
  <p><font color=#00e5ee size=4>Jeff Perlis </font></p>
  <p><font color=#e0ffff size=3>
    &emsp;My Computer Science teacher at Kingswood-Oxford. He loved elegant code and
    continues to advocate me to make my code cleaner. He is always interested whenever
    I have any questions for him and always there to help. We even got to explore
    recursion in the intro class even though it was not part of the course. He loves
    the art of Computer Science.
  </font>
  </p>
</div>
<SPAN style="position:relative;left: 200px;top:0px;">
<div id="fish" style="clear:both;;width:280px;height:70px;"></div>
</SPAN>
<SPAN style="position:relative;left: 200px;top:10px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>