<div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-left:1px;padding-bottom:100px;margin-top:20px;float:left;"><h2 class="left"><span class="left_h2">Music</span></h2>
    <p><font size=4><a href=/music0 ><strong>Page 1</strong></a></font></p>
    <p><font size=3><a href=/music1 >Page 2</a></font></p>
    <p><font size=3><a href=/music2 >Page 3</a></font></p>
    <p><font size=3><a href=/music3 >Page 4</a></font></p>
    <p><font size=3><a href=/music4 >Page 5</a></font></p>
    <p><font size=3><a href=/music5 >Page 6</a></font></p>
    <p><font size=3><a href=/music6 >Page 7</a></font></p>
    <p><font size=3><a href=/music7 >Page 8</a></font></p>
    <p><font size=3><a href=/music8 >Page 9</a></font></p>
    <p><font size=3><a href=/music9 >Page 10</a></font></p>
    <p><font size=3><a href=/music10 >Page 11</a></font></p>
    <p><font size=3><a href=/music11 >Page 12</a></font></p>
    <p><font size=3><a href=/music12 >Page 13</a></font></p>
    <p><font size=3><a href=/music13 >Page 14</a></font></p>
    <div style="width:150px;padding-top:20px;margin:0px;">
      <font color=#add8e6 size=3>
        <p>These lists are organized by Date</p>
        <p>&nbsp;</p>
        <p>Favorites are in Bold</p>
      </font>
    </div>
    <div style="width:150px;padding-top:20px;margin:0px;">

      <font color=3399CC>
        <p>"In our leisure we reveal what kind of people we are."</p>
        <p>—Ovid</p>
      </font>
    </div>

  </div>
<div id="middle" style="width:500px;margin:0;padding-left:1px;padding-bottom:100px;float:left;">
<font color=#e0ffff>
  <div style=padding-top:10px;>
    <p>
      <a onclick="document.getElementById('content1').style.display=(document.getElementById('content1').style.display=='none')?'block':'none'"><strong>Awesome To The Max-Ephixa</strong></a>
    <div id='content1' style='display: none'>
      <iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=669461891/size=venti/bgcol=FFFFFF/linkcol=40b543/" allowtransparency="true" frameborder="0"><a href="http://music.monstercat.com/track/awesome-to-the-max">Awesome To The Max by Ephixa</a></iframe>
    </div>
    </p>
    <p>
    	 <a onclick="document.getElementById('content2').style.display=(document.getElementById('content2').style.display=='none')?'block':'none'"><strong>DVBBS-DRVGS(Klaypex Remix)</strong></a> 
    <div id='content2' style='display: none'>
    	<iframe width="400" height="200" src="http://www.youtube.com/embed/gVM1-enSPFU" frameborder="0" allowfullscreen></iframe>
      </div>       
    </p>
    <p>
    	 <a onclick="document.getElementById('content3').style.display=(document.getElementById('content3').style.display=='none')?'block':'none'">&emsp;Neon-Doctor P(ft. Jenna G)(Tristam Remix)</a> 
    <div id='content3' style='display: none'>
    	<iframe width="400" height="200" src="http://www.youtube.com/embed/J2qpJ2WRU9c" frameborder="0" allowfullscreen></iframe>
      </div>       
    </p>
    <p>
    	 <a onclick="document.getElementById('content4').style.display=(document.getElementById('content4').style.display=='none')?'block':'none'"><strong>I'll Be There for You-Mt.Eden(23 Remix)</strong></a> 
    <div id='content4' style='display: none'>
    	<iframe width="70%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F48325707&amp;auto_play=false&amp;show_artwork=true&amp;color=8bff00"></iframe>
    	</div>
    </p>
    <p>
    	 <a onclick="document.getElementById('content5').style.display=(document.getElementById('content5').style.display=='none')?'block':'none'"><strong>Lauren-Rezonate</strong></a> 
    <div id='content5' style='display: none'>
    	<iframe width="70%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F40501128&show_artwork=true"></iframe>
     </div>
    </p>
    <p>
    	 <a onclick="document.getElementById('content6').style.display=(document.getElementById('content6').style.display=='none')?'block':'none'"><strong>Jawn-Tristam</strong></a> 
    <div id='content6' style='display: none'>
    	<iframe width="400" height="200" src="http://www.youtube.com/embed/V7gM0iNqdsQ" frameborder="0" allowfullscreen></iframe>
      </div>       
    </p>
    <p>
    	 <a onclick="document.getElementById('content8').style.display=(document.getElementById('content8').style.display=='none')?'block':'none'">&emsp;Viridian-Rezonate </a> 
    <div id='content8' style='display: none'>
    	<iframe width="70%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F49936613&show_artwork=true"></iframe>
    	</div>
    </p>
    <p>
    	 <a onclick="document.getElementById('content9').style.display=(document.getElementById('content9').style.display=='none')?'block':'none'">&emsp;Absence-Rezonate</a> 
    <div id='content9' style='display: none'>
    	<iframe width="70%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F38701998&show_artwork=true"></iframe></div>
    </p>
     <p>
    	 <a onclick="document.getElementById('content10').style.display=(document.getElementById('content10').style.display=='none')?'block':'none'"><strong>Gangnam Style-Psy</strong></a> 
    <div id='content10' style='display: none'>
    	<iframe width="400" height="200" src="http://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe>
       </div>
    </p>
    <p>
    	 <a onclick="document.getElementById('content11').style.display=(document.getElementById('content11').style.display=='none')?'block':'none'"><strong>Naruto Ending 22</strong></a> 
    <div id='content11' style='display: none'>
    	<iframe width="400" height="200" src="http://www.youtube.com/embed/Yivk-d_ZUB8" frameborder="0" allowfullscreen></iframe>
       </div>
    </p>
    <p>

</p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
    <p>
      <a href=>

      </a>
    </p>
  </div>
</font>
</div>
<div id="rightcolumn" style="width:150px;margin:0px;padding:0px;float:right">
	<p>
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-8002581756217565";
      /* Testing */
      google_ad_slot = "7116427904";
      google_ad_width = 125;
      google_ad_height = 125;
      //-->
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
	</p>
</div>
<!-- Histats.com  START (hidden counter)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="free invisible hit counter" ><script  type="text/javascript" >
    try {Histats.start(1,2044997,4,0,0,0,"");
        Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2044997&101" alt="free invisible hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->
</div>