<link rel="stylesheet" type="text/css" href="css/pop.css" />
<link rel="stylesheet" type="text/css" href="css/slide.css" />

<!--

Web

HTML 5
CSS 3
Javascript
Jquery
Ruby
Sinatra

Mobile
Android
Construct 2

Backend
C
C++
Java
x86 Assembly
RobotC

Tools
Git
Mercurial
Emacs

Environments
Unix
Dos

-->
<div class="works_container" style="padding-right:10%; padding-top: 60px;">

	<div class="works_title animated fadeInLeft" style="color: #03a9f4;margin-bottom: 30px;">
		<%= @year_number %>
	</div>

	<div class="row_about">
		<div class="content_body_list" style="width: 100%;">
			<div class="content_body" >
				<div class="part_list">
					<div id="skill_10" class="web">
						<div class="skills_title">
							Web
						</div>
						<section id="text_card" class="text_card">
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/html5.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>HTML 5</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>

							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/css3.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>CSS 3</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/javascript.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Javascript</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/jquery-logo.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>JQuery</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>

						</section>

					</div>
					<div id="skill_9" class="web">
						<div class="skills_title">
							Web
						</div>
						<section id="text_card" class="text_card">
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/html5.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>HTML 5</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>

							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/css3.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>CSS 3</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/javascript.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Javascript</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/jquery-logo.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>JQuery</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>

						</section>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="side_nav" class="side_nav">
		<nav class="skills_content">
		<h3>Contents</h3>
		<ul id="skills_list">
			<li>
				<a id="10">Web</a>
			</li>
			<li>
				<a id="9">Mobile</a>
			</li>
			<!-- <li>
				<a id="8">Backend</a>
			</li>
			<li>
				<a id="7">Tools</a>
			</li>
			<li>
				<a id="6">Environment</a>
			</li> -->
		</ul>

	</nav>
	</div>
</div>
<script src="js/skills.js"></script>

