<link rel="stylesheet" type="text/css" href="css/pop.css" />
<link rel="stylesheet" type="text/css" href="css/slide.css" />

<div class="works_container" style="padding-right:10%; padding-top: 120px;">

	<div class="works_title" style="color: #03a9f4;margin-bottom: 30px;">
		<%= @year_number %>
	</div>
	<div class="content_title">
		Web
	</div>
	<div class="about_container">
		<div class="row_about">
			<div class="content_body_list" style="width: 100%;">
				<div class="content_body" >
					<div class="part_list">
						<div class="Web">
							<section id="text_card" class="text_card">
								<div id="part_body_card_skill" class="part_body_card_skill">

									<img class="part_img_logo" src="imgs/skills/HTML5.png"/></img>
									<div class="card_title_bg">
										<div class="card_title">
											<b>HTML 5</b>
										</div>
									</div>

								</div>

							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
