<link rel="stylesheet" type="text/css" href="css/pop.css" />
<link rel="stylesheet" type="text/css" href="css/slide.css" />

<!--

Web

HTML 5
CSS 3
Javascript
Jquery
Ruby
Sinatra

Mobile
Android
Construct 2

Backend
C
C++
Java
x86 Assembly
RobotC

Tools
Git
Mercurial
Emacs

Environments
Unix
Dos

-->
<div class="works_container" style="padding-right:10%; padding-top: 60px;">

	<div class="works_title animated fadeInLeft" style="color: #03a9f4;margin-bottom: 30px;">
		<%= @year_number %>
	</div>

	<div class="row_about">
		<div class="content_body_list" style="width: 100%;">
			<div class="content_body" >
				<div class="part_list">

					<div id="skill_10" class="skill">
						<div class="skills_title">
							Web
						</div>
						<div id="skill_card" class="skill_card">

							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/html5.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>HTML 5</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>

							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/css3.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>CSS 3</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/javascript.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Javascript</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/jquery-logo.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>JQuery</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/ruby.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Ruby</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/sinatra.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Sinatra</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
						</div>

					</div>
					<div id="skill_9" class="skill">
						<div class="skills_title">
							Backend
						</div>
						<div id="skill_card" class="skill_card">

							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/c.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>C</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>

							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/cpp2.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>C++</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/java.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Java</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>

							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/x86.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>x86 Assembly</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>

							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/robotc.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>RobotC</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>

						</div>

					</div>
					<div id="skill_8" class="skill">
						<div class="skills_title">
							Mobile
						</div>
						<div id="skill_card" class="skill_card">

							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/android.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Android</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>

							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/construct2.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Construct 2</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>

						</div>

					</div>
					<div id="skill_7" class="skill">
						<div class="skills_title">
							Tools
						</div>
						<div id="skill_card" class="skill_card">

							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/github.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Git</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>

							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/mercurial.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Mercurial</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">

								<img class="part_img_skill" src="imgs/skills/emacs.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Emacs</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
						</div>

					</div>
					<div id="skill_6" class="skill">
						<div class="skills_title">
							Environments
						</div>
						<div id="skill_card" class="skill_card">
							<div id="part_body_card_skill" class="part_body_card_skill">
								<img class="part_img_skill" src="imgs/skills/unix.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Unix</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>

							</div>
							<div id="part_body_card_skill" class="part_body_card_skill">
								<img class="part_img_skill" src="imgs/skills/dos.png"/></img>
								<div class="card_title_bg">
									<div class="card_title_skill">
										<b>Dos</b>
									</div>
								</div>
								<div id="web_stars" class="stars">
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
									<img src="imgs/skills/no_star.png"></img>
								</div>
							</div>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="side_nav" class="side_nav">
		<nav class="skills_content">
			<h3>Contents</h3>
			<ul id="skills_list">
				<li>
					<a id="10">Web</a>
				</li>
				<li>
					<a id="9">Backend</a>
				</li>
				<li>
					<a id="8">Mobile</a>
				</li>
				<li>
					<a id="7">Tools</a>
				</li>
				<li>
				<a id="6">Environment</a>
				</li>
			</ul>

		</nav>
	</div>
</div>
<script src="js/skills.js"></script>

