<font color=#e0ffff>
  <h3>
    <center>
      <p>Hi, my name is Jonathan Wu.
      </p>
      <p>
      </p>
      <p>Welcome!</p>
    </center>
  </h3>
<SPAN style="position:relative;left: 150px;top:20px;">
<section id="start">
  <font family=blue>
    <form action='/'  method='post'>
      <input type="submit"  value="ENTER">
    </form>
  </font>
</section>
  </SPAN>
  <script type="text/javascript"><!--
google_ad_client = "ca-pub-8002581756217565";
/* Testing */
google_ad_slot = "7116427904";
google_ad_width = 125;
google_ad_height = 125;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<SPAN style="position:relative;left: 100px;top:40px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>
<!-- Histats.com  START (hidden counter)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="free invisible hit counter" ><script  type="text/javascript" >
try {Histats.start(1,2044997,4,0,0,0,"");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2044997&101" alt="free invisible hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->