<font color=#e0ffff>
  <h3>
    <center>
      <p>Hi, my name is Jonathan Wu.
      </p>
      <p>
      </p>
      <p>Welcome!</p>
    </center>
  </h3>
<SPAN style="position:relative;left: 150px;top:20px;">
<section id="start">
  <font family=blue>
    <form action='/'  method='post'>
      <input type="submit"  value="ENTER">
    </form>
  </font>
</section>
  </SPAN>
<SPAN style="position:relative;left: 100px;top:40px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>