
<link rel="stylesheet" type="text/css" href="css/fade.css"/>
<center>
  <font color=#e0ffff size=3>
    <p>
      Thanks For Contacting Me
    </p>
    <p>
      I Will get back to you as soon as I can
    </p>
  </font>

  <section id="add">
  	
    <form action='/thanks'  method='post'>
      <input type="submit" value="Return">
    </form>
  </section>
</center>
