<link rel="stylesheet" type="text/css" href="css/fade.css"/>
<center>
	<div class="text_thank" style="padding-top: 50px; font-size:35px; color:#1976D2;">
		Thanks For Contacting Me
		<br />
		I Will get back to you as soon as I can
	</div>
	<section id="add">

		<form action='/thanks'  method='post'>
			<button class="btn2" type="submit">
				Return
			</button>
		</form>

	</section>
</center>
