<link rel="stylesheet" type="text/css" href="css/fade.css"/>
<center>
	<div class="text_thanks" style="padding-top: 50px;">
			
				<font size="10px" color="#2196f3">
					Thanks For Contacting Me
				</font>
			
			
				<font size="10px" color="#2196f3">
					I Will get back to you as soon as I can
				</font>
			
	</div>
	<section id="add">

		<form action='/thanks'  method='post'>
			<button class="btn2" type="submit">
				Return
			</button>
		</form>

	</section>
</center>
