<link rel="stylesheet" type="text/css" href="css/fade.css"/>
<center>
	<font color="#2196f3">
		<p>
			Thanks For Contacting Me
		</p>
		<p>
			I Will get back to you as soon as I can
		</p> </font>

	<section id="add">

		<form action='/thanks'  method='post'>
			<button class="btn2" type="submit">
				Return
			</button>
		</form>

	</section>
</center>
