<div style="width:960px;padding:0px;margin:-15px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding-left:1px;padding-bottom:300px;margin-top:50px;float:left;"><h2 class="left"><span class="left_h2">Works</span></h2>
    <p><font size=3><a href=/works >All Works</a></font></p>
    <p><font size=3><a href=/applets >Applets</a></font></p>
    <p><font size=3><a href=/github>Github Repos</a></font></p>
    <p><font size=4><a href=/ticalc ><strong>Ticalc</strong> </a></font></p>
    <p><font size=3><a href=/apps >Mobile Apps</a></font></p>

    <div style="width:150px;padding-top:50px;margin:0px;">

      <font color=3399CC>
        <p>"Do not hire a man who
          does your work for money,
          but him who does it for love of it."</p>
        <p>—Henry David Thoreau </p>
      </font>
    </div>
  </div>
</div>
<body>
<div style=padding-top:20px;>
  <h4>
    <p><font size=4><a href=http://www.ticalc.org/archives/files/fileinfo/417/41740.html>Arcshot Ticalc game</a></font></p>
    <p><font color=#add8e6 size=3>Arcshot is a game on the calculator written in TI-Basic where the power of the shot is
      inputted and the target is the place to hit</font></p>
    <p><font size=4><a href=http://www.ticalc.org/archives/files/fileinfo/421/42192.html >Worker Ticalc game</a></font></p>
    <p><font color=#add8e6 size=3>A very addicting Role-Playing game in which you work, study, to get better jobs and to make more money.</font></p>
    <p><font size=4><a href=http://www.ticalc.org/archives/files/fileinfo/449/44991.html >Gage Ticalc game</a></font></p>
    <p><font color=#add8e6 size=3>An expansive Role-Playing game in which the character Gage goes around fighting monsters
      and going through zones while gaining levels and collecting tokens. He wants to avenge his fallen friends</font></p>
  </h4>

</div>
</body>