<center>
  <html>
  <head></head>
  <body>
  <applet code="tictactoegame.TicTacToe.class" archive="jontictactoe.jar"
          width="620" height="475">
  </applet>
  </body>
  </html>
  <section id="add">
    <form action='/thanks'  method='post'>
      <input type="submit" value="Return">
    </form>
  </section>
</center>
<SPAN style="position:relative;left: 20px;top:0px;">
<div id="fish" style="clear:both;;width:280px;height:70px;"></div>
</SPAN>
<SPAN style="position:relative;left: 0px;top:0px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>