
<div style="width:960px;padding:0px;margin:0px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding:0;margin-top:5px;float:left;"><h2 class="left"><span class="left_h2">Years</span></h2>
    <p><font size=5><a href=/2014 >2014</a></font></p>
    <p><font size=4><a href=/2013 >2013</a></font></p>
    <p><font size=4><a href=/2012 >2012</a></font></p>
    <p><font size=4><a href=/2011 >2011</a></font></p>
    <p><font size=4><a href=/2010 ><strong>2010</strong></a></font></p>
    <p><font size=3><a href=/2009 >2009</a></font></p>
    <p><font size=3><a href=/2008 >2008</a></font></p>
    <p><font size=2><a href=/2007-1995 >2007-1995</a></font></p>

    <div style="width:150px;padding-top:50px;margin:0px;">
      <font color=3399CC>
        <p>"For every step you take toward mastery, your destination
          moves two steps further away. Embrace mastery as a
          lifelong endeavor. Learn to love the journey."</p>
        <p>—George Leonard, Mastery</p>
      </font>
    </div>
  </div>
</div>
<div style=padding-top:20px>
  <font color=#e0ffff size=4>
    <h3>
      <center>
        <p>My Age:<%=@my_age %>
        </p>
        <p>Grade:<%=@grade  %>&nbsp;&nbsp;School:<%=@school %>
        </p>
      </center>
    </h3>
  </font>
  <font color=#add8e6 size=3>
    <p>
      Freshman Year
    </p>
    <p>
      Classes:
    </p>
    <p>
      Honors Geometry &nbsp;|&nbsp; English 3 &nbsp;|&nbsp; Empires and Republics
    </p>
    <p>
      Honors Earth and Environmental Science &nbsp;|&nbsp; Band
    </p>
    <p>
      Sports:
    </p>
    <p>
      Weight Training &nbsp;|&nbsp; Swimming &nbsp;|&nbsp; Tennis
    </p>
    <p>
      &nbsp;
    </p>
	<p>
      I continued to work on Gage throughout Freshman year and I updated it constantly
      making new versions while adding new features. I thought I was finished until
      I found out about the getkey functionality. This added alot to the game and I 
      implemented it as well as I could. There was many versions released after this 
      making the game better. After I had run out of memory on the game due to its size,
      I implemented as many memory saving techniques as I could. Some of these included
      making the names of lists shorter, putting more words in a line, and draw graphics 
      with functions instead of saving them in image files. I was able to cut the file
      size in half and with this extra memory I was able to add more functions and make
      more stages and enemies. 5.4 was the official release and I was satisfied with
      the end product.
    </p>
  </font>
</div>
<SPAN style="position:relative;left: 240px;top:20px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>