
<div style="width:960px;padding:0px;margin:0px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding:0;margin-top:5px;float:left;"><h2 class="left"><span class="left_h2">Years</span></h2>
    <p><font size=5><a href=/2014 >2014</a></font></p>
    <p><font size=4><a href=/2013 >2013</a></font></p>
    <p><font size=4><a href=/2012 ><strong>2012</strong></a></font></p>
    <p><font size=4><a href=/2011 >2011</a></font></p>
    <p><font size=4><a href=/2010 >2010</a></font></p>
    <p><font size=3><a href=/2009 >2009</a></font></p>
    <p><font size=3><a href=/2008 >2008</a></font></p>
    <p><font size=2><a href=/2007-1995 >2007-1995</a></font></p>

    <div style="width:150px;padding-top:50px;margin:0px;">
      <font color=3399CC>
        <p>"For every step you take toward mastery, your destination
          moves two steps further away. Embrace mastery as a
          lifelong endeavor. Learn to love the journey."</p>
        <p>—George Leonard, Mastery</p>
      </font>
    </div>
  </div>
</div>
<div style=padding-top:20px>
  <font color=#e0ffff size=4>
    <h3>
      <center>
        <p>My Age:<%=@my_age %>
        </p>
        <p>Grade:<%=@grade  %>&nbsp;&nbsp;School:<%=@school %>
        </p>
      </center>
    </h3>
  </font>
  <font color=#add8e6 size=3>
    <p>
      Junior Year
    </p>
    <p>
      Classes:
    </p>
    <p>
      Intro to Computer Science &nbsp;|&nbsp; AP Chemistry &nbsp;|&nbsp; Honors PreCalculus
    </p>
    <p>
      AP Art History &nbsp;|&nbsp; English 5 &nbsp;|&nbsp; US History &nbsp;|&nbsp; Band
    </p>
    <p>
      Sports:
    </p>
    <p>
      Weight Training &nbsp;|&nbsp; Swimming &nbsp;|&nbsp; Tennis
    </p>
    <p>
    	&nbsp;
    </p>
    <p>
    	I took Intro to Computer Science where I learned java and the basics. Grasping
    	OOP was more difficult that I had imagined because I did not know what it was 
    	and I was so used to TI-Basic. Using Objects and functions was much different 
    	than TI-Basic to just go wherever I wanted in the code. Once I understood how
    	I could get wherever I wanted to, it was much easier. During Junior year I was
    	searching for internships through google and multiple other sites. Strings
    	of emails led to no avail. No one wanted a highschool student to work 
    	for them. Eventually after 5 months, I found a company called 8th light. They 
    	wanted me to create a TicTacToe program that never loses and takes wins when
    	it can. After I conceptualized it on paper, I began to slowly code it. For the 
    	next month, I coded it slowly and slowly. After it was done, I had many bugs. I
    	added a display of the turns to the gui so it was easier to track. Testing and
    	fixing bugs became the time spent on the code. I had different people test it
    	and slowly I discovered the bugs in my code that ranged from it taking a space
    	that had already been taken to just not moving on its turn. Through use of the
    	the debugger to determine where the code messed up, I was able to squash the 
    	bugs of my code. I tested and tested until I knew it worked to perfection. I
    	then submitted it to 8th light. It was from there submitted to a craftsman and 
    	then reviewed. The next day, I got an email from that craftsman saying it worked
    	and I needed to plan a phone interview.
    </p>
  </font>
</div>
<SPAN style="position:relative;left: 250px;top:20px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>