
<div style="width:960px;padding:0px;margin:0px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding:0;margin-top:5px;float:left;"><h2 class="left"><span class="left_h2">Years</span></h2>
    <p><font size=5><a href=/2014 >2014</a></font></p>
    <p><font size=4><a href=/2013 >2013</a></font></p>
    <p><font size=4><a href=/2012 >2012</a></font></p>
    <p><font size=4><a href=/2011 >2011</a></font></p>
    <p><font size=4><a href=/2010 >2010</a></font></p>
    <p><font size=3><a href=/2009 >2009</a></font></p>
    <p><font size=3><a href=/2008 ><strong>2008</strong></a></font></p>
    <p><font size=2><a href=/2007-1995 >2007-1995</a></font></p>

    <div style="width:150px;padding-top:50px;margin:0px;">
      <font color=3399CC>
        <p>"For every step you take toward mastery, your destination
          moves two steps further away. Embrace mastery as a
          lifelong endeavor. Learn to love the journey."</p>
        <p>—George Leonard, Mastery</p>
      </font>
    </div>
  </div>
</div>
<div style=padding-top:20px>
  <font color=#e0ffff size=4>
    <h3>
      <center>
        <p>My Age:<%=@my_age %>
        </p>
        <p>Grade:<%=@grade  %>&nbsp;&nbsp;School:<%=@school %>
        </p>
      </center>
    </h3>
  </font>
  <font color=#add8e6 size=3>
    <p>
      7th grade was the grade I found out about the NXT
      robotics kit. It was a newer and nicer version of the previous RCX
      and was packed with new engines and ways to function.
      It was able to use a different set of motors and could perform the same tasks and
      with much more power and precision. The different functionality of the parts
      made them significantly harder to learn, but I could still make some pretty
      interesting things after going through the tutorials. I had a giant claw that
      picked up soda and moved it and a different robot that push things to different places
      and could be programmed to clean things. It was very innovative and a great chance for me
      to test the extent of my knowledge.
    </p>
  </font>

</div>
<SPAN style="position:relative;left: 240px;top:20px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>