
<div style="width:960px;padding:0px;margin:0px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding:0;margin-top:5px;float:left;"><h2 class="left"><span class="left_h2">Years</span></h2>
    <p><font size=5><a href=/2014 ><strong>2015</strong></a></font></p>
    <p><font size=4><a href=/2014 >2014</a></font></p>
    <p><font size=4><a href=/2013 >2013</a></font></p>
    <p><font size=4><a href=/2012 >2012</a></font></p>
    <p><font size=4><a href=/2011 >2011</a></font></p>
    <p><font size=4><a href=/2010 >2010</a></font></p>
    <p><font size=3><a href=/2009 >2009</a></font></p>
    <p><font size=3><a href=/2008 >2008</a></font></p>
    <p><font size=2><a href=/2007-1995 >2007-1995</a></font></p>
    <div style="width:150px;padding-top:50px;margin:0px;">
      <font color=3399CC>
        <p>"For every step you take toward mastery, your destination
          moves two steps further away. Embrace mastery as a
          lifelong endeavor. Learn to love the journey."</p>
        <p>—George Leonard, Mastery</p>
      </font>
    </div>
  </div>
</div>
<div style=padding-top:20px>
  <font color=#e0ffff size=4>
    <h3>
      <center>
        <p>My Age:<%=@my_age %>
        </p>
        <p>Grade:<%=@grade  %>&nbsp;&nbsp;School:<%=@school %>
        </p>
      </center>
    </h3>
  </font>
  <font color=#add8e6 size=3>
    <p>
      Senior Year
    </p>
    <p>
      Classes:
    </p>
    <p>
      AP Computer Science &nbsp;|&nbsp; Honors Physics &nbsp;|&nbsp; Comic Conventions
    </p>
    <p>
    AB Calculus &nbsp;|&nbsp; History &nbsp;|&nbsp; Band
    </p>
    <p>
      Sports:
    </p>
    <p>
      Weight Training &nbsp;|&nbsp; Robotics &nbsp;|&nbsp; Tennis
    </p>
    <p>
    	&nbsp;
    </p>
    <p>
    	During Senior year I put alot of focus on Robotics and Programming.
    	I found a love for programming and working with the hardware aspects
    	of software as well. I spent months perfecting the code for the autonomous
    	portion of the code for the robot so that it could perform the task on
    	its own. I also made sure the teleop or driver controlled portion worked
    	without fault as well. It was an incredibly fun and rewarding experience
    	that I will never forget. Going to all the tournaments was something I
    	always looked forward to as it was a time to test how our robot fared
    	against other teams. Our robot did very well at tournaments and impressed
    	many judges with its flawless autonomous and fantastic design. My only
    	regret in joining the team is that I didn't join any earlier.
    </p>
  </font>
</div>
<SPAN style="position:relative;left: 250px;top:20px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>