
<div style="width:960px;padding:0px;margin:0px;">
  <div id="leftcolumn" style="width:170px;margin:0;padding:0;margin-top:5px;float:left;"><h2 class="left"><span class="left_h2">Years</span></h2>
    <p><font size=5><a href=/2014 ><strong>2014</strong></a></font></p>
    <p><font size=4><a href=/2013 >2013</a></font></p>
    <p><font size=4><a href=/2012 >2012</a></font></p>
    <p><font size=4><a href=/2011 >2011</a></font></p>
    <p><font size=4><a href=/2010 >2010</a></font></p>
    <p><font size=3><a href=/2009 >2009</a></font></p>
    <p><font size=3><a href=/2008 >2008</a></font></p>
    <p><font size=2><a href=/2007-1995 >2007-1995</a></font></p>
    <div style="width:150px;padding-top:50px;margin:0px;">
      <font color=3399CC>
        <p>"For every step you take toward mastery, your destination
          moves two steps further away. Embrace mastery as a
          lifelong endeavor. Learn to love the journey."</p>
        <p>—George Leonard, Mastery</p>
      </font>
    </div>
  </div>
</div>
<div style=padding-top:20px>
  <font color=#e0ffff size=4>
    <h3>
      <center>
        <p>My Age:<%=@my_age %>
        </p>
        <p>Grade:<%=@grade  %>&nbsp;&nbsp;School:<%=@school %>
        </p>
      </center>
    </h3>
  </font>
  <font color=#add8e6 size=3>
    <p>
      Lehigh Freshman Year
    </p>
    <p>
      Classes:
    </p>
    <p>
    Semester 1
    </p>
    <p>
      Calculus I &nbsp;|&nbsp; Physics 11 &nbsp;|&nbsp; Structured Programming and Data Structures
    </p>
    <p>
    English 1 &nbsp;|&nbsp; Engineering 5
    </p>
    <p>
    	Semester 2
    </p>
    <p>
    	Calculus II &nbsp;|&nbsp; Chemistry 30 &nbsp;|&nbsp; Systems Programming
    </p>
    <p>
    	English 2 &nbsp;|&nbsp; Discrete Structures
    </p>
    <p>
    	My Freshman year at Lehigh University was filled with alot of new places and people. It was 
    	hard adjusting to my new school but exciting at the same time. At the beginning of the year
    	I got really involved in two clubs: The Programming Club and the Anime Eki Club. I had a 
    	goal that I wanted to become the president of those two clubs sooner or later. I put these 
    	goals on the backburner while I focused on school work throughout the year. My hardest classes 
    	turned out to be the science classes I had to take during the year. My easier classes turned out
    	to be my computer science course. I put alot of focus into the CS courses and 
    	
    	
    	
    	
    	
    	
    	
    	
    </p>
  </font>
</div>
<SPAN style="position:relative;left: 250px;top:20px;">
<div id="fish2" style="clear:both;;width:500px;height:70px;"></div>
</SPAN>