





	


.p1:nth-child(2){	
	
	-webkit-animation: slide 1.0s; 
	-moz-animation: slide 1.0s; 
	-ms-animation: slide 1.0s; 
	animation: slide 1.0s;
	
	
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay:1.0s;
	-ms-animation-delay:1.0s;
    animation-delay: 1.0s;
    
    /*-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;*/

}
@-moz-keyframes slide {
    0% {
	   -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-ms-keyframes slide {
    0% {
        -ms-transform: translateX(100%);
    }
    100% {
        -ms-transform: translateX(0);
    }
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
