





	


.p1:nth-child(2):enabled{	
	

	
	
	-webkit-transition-duration: 1.8s;
	-moz-transition-duration:1.8s;
	-ms-transition-duration:1.8s;
    transition-duration: 1.8s;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
	

