





	


.p1:nth-child(2){	
	

	
	
	-webkit-transition-duration: 1.8s;
	-moz-transition-duration:1.8s;
	-ms-transition-duration:1.8s;
    transition-duration: 1.8s;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
	
.mat_cards > .p1:nth-child(2) {
	top: 0;
	left: 0;
	position: relative;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.mat_cards > .p1:nth-child(2) {
	left: 100%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}