/* Google material Design font yo*/
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);
body, html {
	color: #1607A8;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-size: cover;
}

*:after, *:before {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-family: 'Roboto';
	line-height: 32px;
	color: #212121;
}
body {
	font-family: 'Raleway';
	color: #fff;
}
@media (min-width: 500px) {
	.main_content {
		font-size: 100%;
	}
	.p1 > p {
		font-size: 100%;
		width: 80%;
	}
	.about_text {
		font-size: 100%;
	}
	.success, .success_animate {
		font-size: 200%;
	}
	.content_title {
		font-size: 19px;
	}
	.works_title {
		font-size: 29px;
	}
	.content_about, .part1 .part_group {
		width: 360px;
	}
	.part1 .part_group, .part2 .part_group {
		float: left;
	}
	.part1 .part_group .part_group_content:nth-child(2n) {
		padding-left: 0px;
	}
	.content_img_medium {
		max-width: 360px;
	}
}
@media (min-width: 700px) {
	.main_content {
		font-size: 110%;
	}
	.p1 > p {
		font-size: 110%;
		width: 90%;
	}
	.about_text {
		font-size: 20px;
	}
	.success, .success_animate {
		font-size: 300%;
	}
	.content_title {
		font-size: 20px;
	}
	.works_title {
		font-size: 30px;
	}
	.content_about, .part1 .part_group {
		width: 360px;
	}
	.part1 .part_group, .part2 .part_group {
		float: left;
	}
	.works_container {
		padding-left: 20%;
	}
	.part1 .part_group .part_group_content:nth-child(2n) {
		padding-left: 0px;
	}
	.content_img_medium {
		max-width: 360px;
	}
}
@media (min-width: 1200px) {
	.main_content {
		font-size: 100%;
	}
	.p1 > p {
		font-size: 100%;
		width: 96%;
	}
	.about_text {
		font-size: 15px;
	}
	.success, .success_animate {
		font-size: 400%;
	}
	.content_title {
		font-size: 24px;
	}
	.works_title {
		font-size: 34px;
	}
	.content_about {
		width: 960px;
	}
	.works_container {
		padding-left: 10%;
	}
	.part1 .part_group {
		width: 760px;
		padding-left: 30px;
	}
	.part1 .part_group .part_group_content:nth-child(2n) {
		padding-left: 40px;
	}
	.content_img_medium {
		max-width: 760px;
	}
}
b {
	font-size: 19px;
}
#top {
	position: fixed;
	z-index: 998;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 53px;
	background: #03a9f4;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}
.top-text {
	float: right;
	padding-right: 20px;
}
.youtube_embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	padding-right: 100px;
}
.youtube_embed iframe, .youtube_embed object, .youtube_embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*.left_bar{
 position:relative;
 float:left;
 width:200px;
 min-height:1400px;
 height:100%;
 }*/
#left_line {
	margin: 0 -235px;
	position: absolute;
	z-index: 200;
	top: -2px;
	left: 0px;
	width: 215px;
	background: #FFFFFF;
	box-shadow: 0px 1px 2px #888888;
}
#cover {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #000000;
}
.text_thanks {
	font-size: 20px;
	color: #03a9f4;
}
.full {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.p1 {
	width: 80%;
	box-shadow: 0px 1px 3px #888888;
	background:#FFFFFF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.p2 {
	width: 80%;
	box-shadow: 0px 1px 3px #888888;
	background:#FFFFFF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
a {
	color: #1976d2;
	padding: 0 0px;
	text-decoration: none;
}
a:hover {
	color: #90caf9;
	text-decoration: none;
}

.p1 p a {
	color: #212121;
}

.p1 p a:hover {
	color: #212121;
}

.main, .container > header {
	width: 100%;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}
.main {
	position: relative;
	min-height: 600px;
	z-index: 1;
}

/*#main{
	background: #EBEFF2;
}*/

.container > header {
	padding: 2.875em 1.875em 2.875em;
	text-align: center;
	background: #fff;
}
.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	color: #fff;
	font-weight: 300;
}
.container > header span {
	display: block;
	font-size: 60%;
	/*color: rgba(255,255,255,0.7);*/
	color: #1607A8;
	padding: 0 0 0.6em 0.1em;
}
#type {
	width: 180px;
	height: 34px;
	color: #E7EAF6;
}
.success {
	position: absolute;
	pointer-events: none;
	top: 180px;
	left: 38%;
	opacity: 0;
}
.works_content {
	border-left-color: #b3e5fc;
	border-left-style: solid;
	border-left-width: 5px;
	box-sizing: border-box;
	padding-left: 20px;
	margin-bottom: 50px;
}
.works_content ul {
	list-style: outside none none;
	padding-left: 0px;
}
.works_content ul li a {
	/*background-attachment:scroll;*/
	color: #03a9f4;
	font-size: 20px;
	line-height: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
.works_content ul li a:hover {
	color: #03a9f4;
	cursor: pointer;
	border-left-color: #03a9f4;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 20px;
	margin-left: -25px;
}
h3 {
	color: #757575;
	font-size: 15px;
	font-weight: 400;
	line-height: 16px;
	padding-bottom: 0px;
}
.content_title {
	border-top-color: rgba(0, 0, 0, 0.12);
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	padding-top: 80px;
	margin-bottom: 30px;
	color: #03a9f4;
}
.content_body {
	color: #212121;
	font-family: 'Roboto';
}

.part1, .part2 {
	padding-bottom: 40px;
	width: 100%;
	display: inline-block;
}

.part_group {
	float: right;
}

.part_group .part_group_content {
	display: block;
	float: left;
	box-sizing: border-box;
	margin-bottom: 40px;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.part1 .part_group .part_group_content {
	width: 360px;
}
.part2 .part_group .part_group_content {
	width: 760px;
}

.content_img_small, .content_img_medium {
	height: auto;
	z-index: 2;
	margin-bottom: 10px;
	box-shadow: 0px 1px 2px #888888;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.content_img_small {
	max-width: 360px;
}

.part_body {
	display: inline-block;
	float: left;
	padding-right: 33px;
	font-size: 14px;
	line-height: 24px;
	width: 325px;
	margin-bottom: 30px;
}

.caption {
	display: block;
	color: #757575;
	font-size: 13px;
}

.part1  div.part_group .part_group_content:nth-child(2n+1) {
	clear: left;
}

.back_top {
	cursor: pointer;
	height: 50px;
	width: 50px;
	box-shadow: 0px 3px 3px #888888;
	border-radius: 50%;
	background: #FF5252;
	position: absolute;
	top: 95%;
	left: 105%;
}

.up_arrow {
	/*height 0;
	 width 0;*/
	margin-left: 10px;
	margin-top: 11px;
	/*border-left: 8px solid transparent;
	 border-right: 8px solid transparent;
	 border-bottom: 13px solid white;*/
	max-width: 30px;
	background: transparent;
	position: absolute;
}

#content10 {
	position: relative;
}

#bg{
	position:fixed;
	z-index:-2;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color:#F9F9F9;
}

