.me {
	color: #2196f3;
	font-size: 100px;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s; /* Firefox < 16 */
	-ms-animation: fadein 3s; /* Internet Explorer */
	animation: fadein 3s;
	animation-fill-mode: forwards; 
}


.profession {
	opacity:0;
	color: #2196f3;
	font-size: 40px;
	-webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2.5s; /* Firefox < 16 */
	-ms-animation: fadein 2.5s;  /*Internet Explorer */
	animation: fadein 2.5s;
	-webkit-animation-delay: .75s;
	-moz-animation-delay: .75s;
	-ms-animation-delay: .75s;
	animation-delay: .75s;
	animation-fill-mode: forwards; 
}

.work {
	opacity:0;
	color: #2196f3;
	font-size: 35px;
	-webkit-animation: fadein 2.0s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2.0s; /* Firefox < 16 */
	-ms-animation: fadein 2.0s;  /*Internet Explorer */
	animation: fadein 2.0s;
	-webkit-animation-delay: 1.25s;
	-moz-animation-delay: 1.25s;
	-ms-animation-delay: 1.25s;
	animation-delay: 1.25s;
	animation-fill-mode: forwards; 
}

.workplace {
	opacity:0;
	color: #2196f3;
	font-size: 35px;
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s; /* Firefox < 16 */
	-ms-animation: fadein 1.5s;  /*Internet Explorer */
	animation: fadein 1.5s;
	-webkit-animation-delay: 1.75s;
	-moz-animation-delay: 1.75s;
	-ms-animation-delay: 1.75s;
	animation-delay: 1.75s;
	animation-fill-mode: forwards; 
}



.btn {
    background-color: #FF4081;
    border-color: #CCC;
    color: #FFF;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

