
body {
   
	vertical-align: middle;
    font-family: Blue;
    font-size:110%;
    border: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
    font-stretch: semi-expanded;
    background-color:#FFFFFF; 
    /*background-image: url(background.jpeg);*/
}


header {
    width: 100%;
	/*height: 870px;*/
	height: 30%;	
	background-color:#42a5f5;

}


header h1 {
    display: inline;
    font-size: 32px;
    color: #ffffff
}

header h1 a:link, header h1 a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

header h2 {
    font-size: 16px;
    color: #FFFFFF;
}

#main {
    margin: 0 0 20px;
}

#add {
    margin: 0 0 20px;
}

#add textarea {
    height: 100px;
    width: 270px;
    padding: 10px;
    border-radius:10px;
    background-color:  #e0f8ff;
    border: 1px solid #ddd;
}
#add input {
    border-radius: 10px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: #e0f8ff;
    font-size: 20px;
}
#start input{

    border-radius: 35px;
    height: 80px;
    width:400px;
    background-color: #c7eeec;
    font-family: 'Squada One', cursive;
    font-size: 30px;
}

p {
    margin: 0 0 5px;
}

.meta {
    font-size: 0.8em;
    font-style: italic;
    color: #888;
}

.links {
    font-size: 1.8em;
    line-height: 0.8em;
    float: rightright;
    margin: -10px 0 0;
}

.links a {
    display: block;
    text-decoration: none;
} iframe {margin:0px;}
div {width:100%;}

h2.home
{
    margin-top:0px;
    margin-bottom:5px;
    font-size:120%;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:1px;
    color:#900B09;
    background-color:#ffffff;
}


h2.left
{
    color:#404040;
    font-size:150%;
    margin-bottom:4px;
    padding-bottom:0px;
    margin-top:0px;
    padding-top:0px;
    font-weight:bold;
}
a.topnav:link,a.topnav:visited {color:#ffffff;text-decoration:none;}
a.topnav:hover,a.topnav:active {color:#ffffff;text-decoration:none;}

a:link,a:visited {color: #ffffff;text-decoration:none;}
a:hover,a:active {color: #ffffff;text-decoration:none;}

a.header:link,a.header:visited {text-decoration:none;color:black;background-color:transparent}
a.header:hover,a.header:active {text-decoration:underline;color:black;background-color:transparent}

#leftcolumn a:link,#leftcolumn a:visited {text-decoration:none;color: #fff5ff;background-color:transparent}
#leftcolumn a:hover,#leftcolumn a:active {text-decoration:underline;color: #6671ff;background-color:transparent}

#rightcolumn a:link,#rightcolumn a:visited {text-decoration:none;color:#900B09;background-color:transparent}
#rightcolumn a:hover,#rightcolumn a:active {text-decoration:underline;color:#FF0000;background-color:transparent}


#leftcolumn
{
    margin-left:1px;
    padding-left:40px;
    padding-right:40px;
}
#rightcolumn th
{
    color:#404040;
    padding-top:3px;
    padding-bottom:4px;
}

a.tryitbtn:hover,a.tryitbtn:active,a.showbtn:hover,a.showbtn:active
{
    background-color:#7A991A;
}



span.color_h1 {color:#92B901;}
span.left_h2 {color: rgba(209, 252, 255, 0.91);}

span.new
{
    float:right;
    color:#FFFFFF;
    background-color:#98bf21;
    font-weight:bold;
    padding-left:1px;
    padding-right:1px;
    border:1px solid #ffffff;
    outline:1px solid #98bf21;
}

#topnav
{   /*border-radius: 10px;
    background-image: url(background.gif);
    */
    background-color:#42a5f5;
    background-repeat:repeat;
    background-position:bottom;
    background-repeat:repeat-x;

}

#footer
{
    margin:0px;
    padding:20px;
    padding-top:0;
    padding-bottom:10px;
    color:#909090;
    font-size:90%;
    text-align:center;
}
#fish
{
    background-image: url(fish.gif);

}
#fish2
{
    background-image: url(fish2.gif);

}
@font-face {
    font-family: Blue;
    src: url(Blue.ttf)
}
